.app{
 
     
        display: flex;
    flex-direction: column;
    padding-top: 4%;
    /* padding-left: 30%; */

  

}

body{
    background-image: url("./images/bgcolor-2.jpg");
    /* background-color: lightgrey; */
}

h2{
    color: darkgreen;
}



.game{
    /* border: 2px solid black; */
    
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.12);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.5px);
-webkit-backdrop-filter: blur(4.5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  
    box-shadow: 5px 10px 18px #888888;

   

        justify-content: center;
        width: 560px;
        height: 560px;
        display: flex;
        flex-wrap: wrap;
        background-color: lightblue;
    
}

.scre{
  
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.12);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.5px);
-webkit-backdrop-filter: blur(4.5px);
border: 1px solid rgba(255, 255, 255, 0.3);
   
   box-shadow: 5px 10px 18px #888888;

   

    justify-content: center;
    /* border: 2px solid black; */
    width: 560px;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
   

   
   
}

.game img{
    width: 70px;
    height: 70px;
    
    
}

@media only screen and (max-width: 600px){
    .app{padding-left:0.1%;}
}

@media only screen and (min-width: 600px){
    .app{padding-left: 4%;}
}

@media only screen and (min-width: 768px){
    .app{padding-left: 15%;}
}

@media only screen and (min-width: 992px){
    .app {padding-left:23%};
 }
 
 
@media only screen and (min-width: 1200px){
    .app{padding-left: 30%;}
}
